PORT=5001
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=billetterie_abonnements_db
DB_PORT=3306

# Activer HTTPS pour le réseau local
USE_HTTPS=true

# Secret JWT partagé avec le Service Utilisateurs (pour valider les tokens)
JWT_SECRET=billetterie_jwt_secret_key_2024_super_secure
# Secret HMAC pour signer les QR codes
HMAC_SECRET=billetterie_hmac_secret_key_2024

# lien connexion mysql Aiven (modèle)
SERVICE_URI=mysql://avnadmin:<votre_mot_de_passe>@mysql-service.aivencloud.com:25778/defaultdb?ssl-mode=REQUIRED
