PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/billetterie
JWT_SECRET=billetterie_jwt_secret_key_2024_super_secure
JWT_EXPIRE=7d

# Email (Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=Email@gmail.com
EMAIL_PASS=passsssss

# Frontend URL (pour CORS)
FRONTEND_URL=https://localhost:5173

# URL du microservice Abonnements (HTTP)
SUBSCRIPTION_SERVICE_URL=http://localhost:5001

# Configuration de l'Administrateur initial
ADMIN_NOM=Diallo
ADMIN_PRENOM=Mamadou
ADMIN_EMAIL=admin@billetterie.com
ADMIN_PASSWORD=admin123
ADMIN_TELEPHONE=+221771234567

# Configuration de l'Agent initial
AGENT_NOM=Sow
AGENT_PRENOM=Fatou
AGENT_EMAIL=agent@billetterie.com
AGENT_PASSWORD=agent123
AGENT_TELEPHONE=+221777654321

# Configuration du Client initial
CLIENT_NOM=Ndiaye
CLIENT_PRENOM=Abdou
CLIENT_EMAIL=client@billetterie.com
CLIENT_PASSWORD=client123
CLIENT_TELEPHONE=+221789998877

# Configuration de la connexion Kafka (Aiven)
KAFKA_SERVICE_URI=https://avnadmin:<votre_mot_de_passe>@kafka-service.aivencloud.com:25783
# Remplacez par votre vrai URI Aiven Kafka

# Sécurité (Aiven utilise généralement SASL_SSL pour l'accès public)
KAFKA_SECURITY_PROTOCOL=SASL_SSL
KAFKA_SASL_MECHANISM=PLAIN
